/*main css*/

/*buttons*/
.primary-btn {
  border-radius: 10px;
  background-color: #0033ea;
  border-color: #0033ea;
  padding-left: 1.2em;
  padding-right: 1.2em;
  letter-spacing: -0.05em;
}

.primary-btn:hover,
.primary-btn:active,
.primary-btn:focus,
.primary-btn:focus-visible {
  background-color: #0026af;
  border-color: #0026af;
  box-shadow: none;
  outline: none;
}

.secondary-outline-btn {
  border-radius: 10px;
  background-color: #ffffff;
  border-color: #ffb100;
  color: #ffb100;
  padding-left: 1.2em;
  padding-right: 1.2em;
  letter-spacing: -0.05em;
}

.secondary-outline-btn:hover,
.secondary-outline-btn:active,
.secondary-outline-btn:focus,
.secondary-outline-btn:focus-visible {
  background-color: #ffb100;
  border-color: #ffb100;
  color: #ffffff;
  box-shadow: none;
  outline: none;
}

.secondary-btn {
  border-radius: 10px;
  background-color: #ffb100;
  border-color: #ffb100;
  padding-left: 1.2em;
  padding-right: 1.2em;
  letter-spacing: -0.05em;
}

.secondary-btn:hover,
.secondary-btn:active,
.secondary-btn:focus,
.secondary-btn:focus-visible {
  background-color: #c48800;
  border-color: #c48800;
  color: #ffffff;
  box-shadow: none;
  outline: none;
}

/*overrides*/
/*input*/
.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c4c4c4;
  opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #c4c4c4;
}

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #c4c4c4;
}

.form-control:focus {
  border-color: #6183ff;
  box-shadow: none;
  /*color: black;*/
}

.navbar-light .navbar-toggler-icon {
  background-image: url("../icons/navbar-toggler.svg");
}
.navbar-light .navbar-toggler {
  /*color: #0033ea !important;*/
  border: none;
}
.navbar-nav {
  align-items: center;
}
